NODE_ENV=development
PORT=3000
LOG_LEVEL=info

MONGODB_URI=
MONGODB_DB_NAME=pi_parlamentar

CAMARA_API_BASE_URL=https://dadosabertos.camara.leg.br/api/v2
SENADO_API_BASE_URL=https://legis.senado.leg.br/dadosabertos

ML_SERVICE_URL=http://127.0.0.1:8001

CORS_ORIGINS=http://localhost:5173,http://localhost:8081
